#head-box{
    position: relative;
    background-color: #ffffff;
    height: 7%;
    box-shadow: 1px 1px 1px #e9e9e9;
}



#main-box{
    position: relative;
    left: 20%;
    width: 60%;
    height: 120%;
}



#brand{
    position: relative;
    height: 85%;
    width: 10%;
    top: 15%;
    left: 20%;
    background-image: url('../images/brand-home.png');
    background-repeat:no-repeat;
    background-size: 70% 80%;
    text-align: center;
}
#divice{
    position: absolute;
    height: 60%;
    width: 2px;
    top:20%;
    left:28%;
    background-color: #EBEBEB;
}
#write{
    position: absolute;
    top:25%;
    left: 29%;
    font-size: 20px;
}

#write-info{
    position: relative;
    top: 0px;
    width: 100%;
    height: 250px;
    border-top: 1px solid blue;
    display: -webkit-box;
}

#img-box{
    position: relative;
    width: 30%;
    height: 200px;
    top: 25px;
    left: 5%;
    background-size: 100% 100%;
}

#i-box{
    position: absolute;
    height: 200px;
    width: 40%;
    left:50%;
    top: 0px;
    /* background-color: red;*/
}


#select-div{
    position: relative;
    margin-top: 0px;  
    width: 100%;
    height: 50px;
    border-top: 1px solid purple;
    text-align: center;
}

.select-btn{
    position: relative;
    height: 80%;
    top:10%;
    font-size: 20px;
    margin-left: 100px;
    border: 1px solid transparent;
}





/*   评论 */

#comment-box{
    position: relative;
    width: 100%;
    left: 0%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #e9e9e9;
    border-top: 1px solid black;
    
}



#layer-area{
    position: relative;
    width: 80%;
    height: 50px;
    top: 10px;
    left: 5%;
    outline: none;
    resize: none;
}

#layer-cmt{
    position: absolute;
    top: 25px;
    right: 5%;
}

.cmtdivClass{
    position: relative;
    width: 70%;
    left: 10%;
    /*border: 1px solid red;*/
    margin-top:30px;
    overflow: auto;
    zoom:1;
    
}
.layer-master{
    position: relative;
    width:90%;
    left: 0%;
    /*border: 1px solid green;*/
}
.subcomClass{
    position: absolute;
    float: left;
    top: 18px;
    left: 60%;
}
.topbtn{
    position: absolute;
    float: left;
    top: 18px;
    left: 70%;
}

#subarea{
    position: relative;
    width: 60%;
    height: 120px;  
    left:20%;
    /*border: 1px solid purple;*/
}
#subtext{
    position: relative;
    width: 100%;
    height: 70%;
    float: left;
    resize: none;
}
#subsubmit{
    position: relative;
    top: 5%;
    left: 40%;
}

#diviceline{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0%;
    margin-top: 20px;
    background-color: #EBEBEB;
}
