#head-box{
    position: relative;
    background-color: #ffffff;
    height: 7%;
    box-shadow: 1px 1px 1px #e9e9e9;
}


#main-box{
    position: absolute;
    width: 50%;
    left: 25%;
    border: 1px solid #000;
    text-align: center;
}

#comment-box{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30%;
    border: 1px solid red;
    text-align: center;
}

.subcomClass{
    position: absolute;
    left: 60%;
}

