body{
    background-color: #f6f6f6;
}

#head-box{
    position: relative;
    background-color: #ffffff;
    height: 7%;
    box-shadow: 1px 1px 1px #e9e9e9;
}

#brand{
    position: relative;
    height: 85%;
    width: 10%;
    top: 15%;
    left: 20%;
    background-image: url('../images/brand-home.png');
    background-repeat:no-repeat;
    background-size: 70% 80%;
    text-align: center;
}
#divice{
    position: absolute;
    height: 60%;
    width: 2px;
    top:20%;
    left:28%;
    background-color: #EBEBEB;
}
#write{
    position: absolute;
    top:25%;
    left: 29%;
    font-size: 20px;
}


#main-box{
    position: relative;
    width: 50%;
    top: 2%;
    left: 25%;
    background-color: white;
    box-shadow: 1px 1px 1px #e9e9e9;
    text-align: center;
    overflow: auto;
    zoom:1;
}

#comment-box{
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 2%;
    background-color: white;
    box-shadow: 1px 1px 1px #e9e9e9;
    overflow: auto;
    zoom:1;
}

#foot-box{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
}



/* 评论模块 */

#layer-area{
    position: relative;
    width: 80%;
    height: 50px;
    top: 10px;
    left: 5%;
    outline: none;
    resize: none;
}

#layer-cmt{
    position: absolute;
    top: 25px;
    right: 5%;
}

.cmtdivClass{
    position: relative;
    width: 70%;
    left: 10%;
    /*border: 1px solid red;*/
    margin-top:30px;
    overflow: auto;
    zoom:1;
    
}
.layer-master{
    position: relative;
    width:90%;
    left: 0%;
    /*border: 1px solid green;*/
}
.subcomClass{
    position: absolute;
    float: left;
    top: 18px;
    left: 60%;
}
.topbtn{
    position: absolute;
    float: left;
    top: 18px;
    left: 70%;
}

#subarea{
    position: relative;
    width: 60%;
    height: 120px;  
    left:20%;
    /*border: 1px solid purple;*/
}
#subtext{
    position: relative;
    width: 100%;
    height: 70%;
    float: left;
    resize: none;
}
#subsubmit{
    position: relative;
    top: 5%;
    left: 40%;
}

#diviceline{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0%;
    margin-top: 20px;
    background-color: #EBEBEB;
}



