#head-box{
    position: absolute;
    background-color: #ffffff;
    height: 7%;
    box-shadow: 1px 1px 1px #e9e9e9;
}

#main-box{
    position: absolute;
    left: 20%;
    height: 100%;
    width: 60%;
    border: 1px solid black;
}

#img-box{
    position: relative;
    left: 20%;
    height: 30%;
    width: 60%;
    border: 1px solid green;
    text-align: center;
}

#title-box{
    position: relative;
    left: 20%;
    height: 5%;
    width: 60%;
    margin-top: 10px;
    border: 1px solid purple;
    text-align: center;
}




