#head-box{
    position: absolute;
    background-color: #ffffff;
    height: 7%;
    width: 100%;
    box-shadow: 1px 1px 1px #e9e9e9;
}

#brand{
    position: relative;
    height: 85%;
    width: 10%;
    top: 15%;
    left: 20%;
    background-image: url('../images/brand-home.png');
    background-repeat:no-repeat;
    background-size: 70% 80%;
    text-align: center;
}
#divice{
    position: absolute;
    height: 60%;
    width: 2px;
    top:20%;
    left:28%;
    background-color: #EBEBEB;
}
#write{
    position: absolute;
    top:25%;
    left: 29%;
    font-size: 20px;
}

#main-box{
    position: absolute;
    top: 9%;
    left: 20%;
    height: 100%;
    width: 60%;
    /*border: 1px solid black;*/
}

#img-box{
    position: relative;
    left: 0%;
    height: 30%;
    width: 100%;
    /*border: 1px solid green;*/
    text-align: center;
}

/*   上传按钮   */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    position: absolute;
    left:0%;
    height: 100%;
    width: 100%;
    color: #CACACA;
    font-size:30px;
    background-color: #F6F6F6;
    line-height: 150px;
    cursor: pointer; /* 小手光标 */
    display: inline-block;
}




#title-box{
    position: relative;
    left: 0%;
    height: 5%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid purple;*/
    text-align: center;
}

#get-title{
    position: absolute;
    width: 70%;
    height: 90%;
    top:5%;
    left: 0%;
    outline:none;
    font-size: 30px;
    border: none;
}
#get-type{
    position: absolute;
    height: 90%;
    width: 20%;
    top:5%;
    right: 0%;
    font-size: 15px;
    outline:none;
}

.toolbar{
    border: 1px solid #ccc;
}
.text{
    border: 1px solid #ccc;
    height: 700px;
}

#submit-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    /*border: 1px solid red;*/
    text-align: center;
}
#sbmt{
    position: relative;
    width:10%;
    height: 70%;
    color: white;
    font-size: 15px;
    background-color: #4886EF;
    cursor: pointer;
    outline: none;
}


